*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild


############################
# Local configuration file (sdk path, etc)
local.properties
# built application files
*.apk
*.ap_
