<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sermk.pipi.pilauncher">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".GlobalController"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".LauncherAct"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <!--
        <service
            android:name="sermk.pipi.game.deprecated.NotifyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="sermk.pipi.game.NotifyService"></action>
            </intent-filter>
        </service>
        -->
        <service
            android:name=".PIService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".PIService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".externalcooperation.PiSettingsReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_RECIVER_PILAUNCHER_SET_SETTINGS" />
                <action android:name="ACTION_RECIVER_PILAUNCHER_SAVE_SETTINGS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".externalcooperation.RequestReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_RECIVER_FOR_ALL_QUERY_SETTINGS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".externalcooperation.ProblemReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="SET_PI_STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>